@use '../../global' as * ; 

.c-tabBtn {
  display: block;
  padding: rem(10) rem(20);
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  font-size: rem(16);
  font-weight: bold;
  transition: background var(--duration), color var(--duration);
  &:hover {
    background: #007bff;
    color: #fff;
  }
  &.is_active {
    background: #007bff;
    color: #fff;
  }
}