<details class="c-details js_accordion">
  <summary class="c-details__btn js_accordion_summary">続きを見る</summary>
  <div class="c-details__body js_accordion_body">
    <div class="c-details__inner">
      <p>記事ブロックの表示を、表示・非表示の設定ができます。<br>説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。</p>
      <p>説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。</p>
    </div>
    <button class="c-details__close js_accordion__close">閉じる</button>
  </div>
</details>