<% baseMeta = {
  title:'トップページ',
  desc:'ディスクリプション',
  path:'./',
  incPath:'',
  page:'top',
  image:'./assets/images/',
}; %>

<%# タブデータ %>
<% tabs = [
  {title: 'タブタイトル', tab: '01'},
  {title: 'タブタイトル', tab: '02'},
  {title: 'タブタイトル', tab: '03'},
] %>

<%# モーダルデータ %>
<% modals = [
  {
    target: 'modal01',
    btnImg: baseMeta.image + 'common/noImg.jpg',
    btnAlt: 'モーダルボタン画像',
    btnText: 'モーダルボタンテキスト01',
    modalTitle: 'モーダルタイトル01',
    modalImg: baseMeta.image + 'common/noImg.jpg',
    modalAlt: 'モーダル画像',
    modalText: 'モーダルテキスト01',
  },
  {
    target: 'modal02',
    btnImg: baseMeta.image + 'common/noImg.jpg',
    btnAlt: 'モーダルボタン画像',
    btnText: 'モーダルボタンテキスト02',
    modalTitle: 'モーダルタイトル02',
    modalImg: baseMeta.image + 'common/noImg.jpg',
    modalAlt: 'モーダル画像',
    modalText: 'モーダルテキスト02',
  },
  {
    target: 'modal03',
    btnImg: baseMeta.image + 'common/noImg.jpg',
    btnAlt: 'モーダルボタン画像',
    btnText: 'モーダルボタンテキスト03',
    modalTitle: 'モーダルタイトル03',
    modalImg: baseMeta.image + 'common/noImg.jpg',
    modalAlt: 'モーダル画像',
    modalText: 'モーダルテキスト03',
  },
] %>


<!DOCTYPE html>
<html lang="ja">
<%- include(baseMeta.incPath + 'common/_head', { baseMeta:baseMeta } ) %>

<body id="top">
  <div class="siteWrapper">
    <!-- ヘッダー -->
    <%- include(baseMeta.incPath + 'common/_header', { baseMeta:baseMeta } ) %>
    <main>
      <div class="test">
        <div class="l-inner">

          <h1>トップページ</h1>

          <img src="<%= baseMeta.image %>common/noImg.jpg" alt="">

          <hr />

          <!-- リストブロック -->
          <div class="c-listWrap">
            <%- include(baseMeta.incPath + 'parts/_c-list', {
              datetime: '2020-07-20',
              time: '2020.07.20',
              cat: 'お知らせ',
              link: '#',
              title: '記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'
            }) %>
          </div>

          <hr />

          <!-- カードブロック -->
          <div class="c-cardWrap">
            <%- include(baseMeta.incPath + 'parts/_c-card', {
              link: '#',
              img: baseMeta.image + 'common/noImg.jpg',
              alt: '',
              date: '2020.07.20',
              title: 'カードタイトル',
              text: 'カードテキスト'
            }) %>
          </div>

          <hr />

          <!-- タブブロック -->
          <div class="p-tab js-tab" role="tablist">
            <div class="p-tab__head">
              <% tabs.forEach(tab => { %>
                <button class="c-tabBtn js-tabBtn" data-tab="<%= tab.tab %>" aria-expanded="false" aria-label="タブの開閉ボタン" role="tab"><%= tab.title %></button>
              <% }) %>
            </div>
            <div class="p-tab__body">
              <% tabs.forEach(tab => { %>
                <div class="p-tab__panel js-tab-panel" data-tab-panel="<%= tab.tab %>" role="tabpanel">
                  <!-- カードブロック -->
                  <div class="c-cardWrap">
                    <%- include(baseMeta.incPath + 'parts/_c-card', {
                      link: '#',
                      img: baseMeta.image + 'common/noImg.jpg',
                      alt: '',
                      date: '2020.07.20',
                      title: 'カードタイトル',
                      text: 'カードテキスト'
                    }) %>
                  </div>
                  <span><%= tab.tab %></span>
                </div>
              <% }) %>
            </div>
          </div>

          <!-- アコーディオンブロック（details） -->
          <%- include(baseMeta.incPath + 'parts/_c-details') %>

          <hr />

          <!-- アコーディオンブロック -->
          <%- include(baseMeta.incPath + 'parts/_c-accordion', {
            question: '質問文',
            answer: '回答文'
          }) %>

          <hr />

          <!-- モーダルボタンブロック -->
          <div class="c-modalBtnWrap">
            <% modals.forEach(modal => { %>
              <%- include(baseMeta.incPath + 'parts/_c-modalBtn', {
                mod: '',
                open: modal.target,
                img: modal.btnImg,
                alt: modal.btnAlt,
                text: modal.btnText
              }) %>
              <%- include(baseMeta.incPath + 'parts/_c-modal', {
                target: modal.target,
                modalTitle: modal.modalTitle,
                modalDesc: modal.modalText,
                img: modal.modalImg,
                alt: modal.modalAlt,
                title: modal.modalTitle,
                text: modal.modalText
              }) %>
            <% }) %>
          </div>

          <hr />

          <div class="" style="margin-bottom: 300px;"></div>

        </div>
      </div>
    </main>
    <!-- ページトップボタン -->
    <%- include(baseMeta.incPath +'parts/_c-page-top') %>
    <!-- フッター -->
    <%- include(baseMeta.incPath +'common/_footer') %>
  </div>
</body>

</html>
