name: Staging Deploy
# SSH接続デプロイ
# サーバー側にrsyncがインストールされている必要あり
# rsync --version
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Use Node.js 23
        uses: actions/setup-node@v4
        with:
          node-version: '23'

      - name: Install dependencies and build
        run: |
          npm install
          npm run build

      - name: Setup SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.STAGING_SSH_KEY }}
          known_hosts: unnecessary

      - name: Add known_hosts
        run: ssh-keyscan -H ${{ secrets.STAGING_SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy via rsync
        run: |
          rsync -avz --delete \
            ./wp/wp-content/themes/themeName/ \
            ${{ secrets.STAGING_SSH_USER }}@${{ secrets.STAGING_SSH_HOST }}:/bitnami/wordpress/wp-content/themes/themeName/